@model IEnumerable<HospitalProject.Models.JobDto>
@{
    ViewBag.Title = "New";
}


<a href="/Job/List">Go back</a>

<h2>Create Job Posting</h2>
<form action="/Job/Create" method="POST">
    <div>
        <label>Job Title </label><input type="text" name="JobTitle" />
    </div>
    <div>
        <label>Department</label><input type="text" name="JobDepartment" />
    </div>
    <div>
        <label>Type</label><input type="text" name="JobType" />
    </div>
    <div>
        <label>Email </label><input type="date" name="JobDeadline" />
    </div>
    <div>
        <label>Location </label><input type="tel" name="JobLocation" />
    </div>
    <div>
        <textarea name="JobDescription"></textarea>
    </div>
    <div>
        <input type="submit" name="Submit Application" />
    </div>
</form>