@model IEnumerable<HospitalProject.Models.SubmissionsDto>
@{
    ViewBag.Title = "List";
}

<h2>Applicant Submissions</h2>

@foreach (var Submission in Model)
{
    <h2><a href="/Submissions/Details/@Submission.SubmissionId">@Submission.FirstName @Submission.LastName, @Submission.JobId</a></h2>
}
