@model IEnumerable<HospitalProject.Models.DonorDto>

@{
    ViewBag.Title = "List";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>

</head>
<body>
    <div>
        @foreach (var donor in Model)
        {
            <h2><a href="/Donor/Details/@donor.DonorId">@donor.UserId</a></h2>
        }

    </div>
    </body>
</html>
