@model HospitalProject.Models.ViewModels.UpdateDonation
@{
    ViewBag.Title = "Edit";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    <div>
        <form action="/Donor/Update/@Model.SelectedDonation.DonationId" method="POST">
            <div style="display:none;">
                @* Pass through the donation ID *@
                <input type="text" name="DonorID" value="@Model.SelectedDonation.DonorId" />
            </div>
            <div>
                <input type="text" name="DonorID" value="@Model.SelectedDonation.Amount" />
            </div>
            <div>
                <input type="text" name="DonorID" value="@Model.SelectedDonation.DonationDate" />
            </div>
            <div>
                <input type="submit" value="Update Donation" />

            </div>
        </form>


    </div>
</body>
</html>
