
@{
    ViewBag.Title = "Create";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>New</title>
</head>
<body>
    <div>

        <form action="/Donation/Create" method="POST">
            <div>
                <label>Donor ID</label> <input type="text" name="Donor Id" />
            </div>
            <div>
                <label>Donation Amount</label> <input type="text" name="Amount" />
            </div>
            <div>
                <label>Date of Donation</label> <input type="text" name="DonationDate" value="@DateTime.Now"/> <!-- Add DateTime element from Donation Details Model once you figure out hoe -->
            </div>

            <div>
                <input type="submit" value="Make Donation" />

            </div>
        </form>
    </div>
</body>
</html>
